.modal-backdrop{
    z-index: 0;
    opacity: 0;
}

.modal-title{
    font-weight: bold;
}

.button-dropdown-profile{
    color: #445AFF !important;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    padding-left: 15px;
}

.btn-close{
    position: absolute !important;
    right: 15px !important;
    top: 0px !important;
    background: white !important;
    color: black !important;
    font-size: 25px !important;
    cursor: pointer;
}

.nav-session{
    display: none;
}
.nav-item{
    padding-right: 10px;
}
.nav-link{
    color: black !important;
}
.nav-link:hover{
    color: #445AFF !important;
}
.active{
    color: #445AFF !important;
}
@media (max-width: 991px) {
    .button-session{
        display: none;
    }
    .nav-session{
        display: block;
    }
    .img-session{
        display: none;
    }
    .navbar-toggler{
        background: white !important;
        border-color: white !important;
    }
    .navbar-toggler:focus{
        color: white !important;
    }
}

